@model IEnumerable<test.Models.DATHANG>

@{
    ViewData["Title"] = "Shoes Shop";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DATHANG_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfCus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberofTiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DATHANG_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfCus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofTiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
